@font-face {
	font-family: uniicons;
	font-weight: normal;
	font-style: normal;
	src: url('~@/static/uni.ttf') format('truetype');
}

/* #ifdef H5 */
.fix-left-window {
	padding-left: var(--window-left);
}
.pc-hide {
	display: none !important;
}
/* #endif */

/* 通用 --- start --- */
page {
  width: 100%;
	height: 100%;
	min-height: 100vh;
	color: $uni-text-color;
	background-color: $uni-bg-color-grey;
}
view {
	font-size: 28rpx;  // 根元素字体大小
	line-height: 1.5;
	box-sizing: border-box;
	font-family: Monospaced Number, Chinese Quote, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica,
		Arial, sans-serif !important;
}
text,
button,
input,
navigator,
image {
	box-sizing: border-box;
}
// 防止 image 样式生效较慢，出现 “闪一下” 的情况
image {
	width: 100%;
	height: 100%;
	image{will-change: transform};
}
button {
	border-radius: 0;
}

progress,
checkbox-group {
	width: 100%;
	box-sizing: border-box;
}
form {
	width: 100%;
	box-sizing: border-box;
}


// 胶囊样式--宽、高、位置需使用行间样式设置
.capsule-black-box {
	background: rgba(0, 0, 0, .2);
	@include border(null, 1px, rgba(255, 255, 255, .25));
	border-radius: 20px;
	color: white;
	text-align: center;
	.capsule-split-line {
		display: inline-block;
		height: 16px;
		width: 0px;
		@include border(left, 1px, rgba(255, 255, 255, .5));
	}
}
.capsule-white-box {
	background: rgba(255, 255, 255, .3);
	@include border(null, 1px, rgba(0, 0, 0, .1));
	border-radius: 20px;
	color: black;
	text-align: center;
	.capsule-split-line {
		display: inline-block;
		height: 16px;
		width: 0px;
		@include border(left, 1px, rgba(252, 252, 252, .3));
	}
}
.uni-custom {
	width: 100%;
	height: var(--status-bar-height);
	@include statusBox($uni-color-success);
	@include pos(0, null, null, 0, fixed);
	z-index: 1;
}
.uni-custom-content {
	width: 100%;
	// height: calc(100% - var(--status-bar-height));
	height: 100%;
	background-color: transparent;
}

// 列表
.uni-list {
  display: flex;
	flex-direction: column;
  position: relative;
	width: 100%;
	background-color: #f1f1f1!important;
}

// uni-icon
.uni-icon {
	font-family: uniicons;
	font-size: 24px;
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	display: inline-block;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
}
.uni-icons {
	font-size: inherit!important;
	color: inherit!important;
}
/* 通用 --- end --- */
